{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2>{{ user.username }}'s Profile</h2>

        <!-- User Information -->
        <div class="card mb-4">
          <div class="card-header">
            Email
          </div>
          <div class="card-body">
            <p class="card-text">{{ user.email }}</p>
          </div>
        </div>

        <!-- Change Password Form -->
        <div class="card mb-4">
          <div class="card-header">
            Change Password
          </div>
          <div class="card-body">
            <form method="post" action="{% url 'user_profile' %}">
              {% csrf_token %}
              {{ password_change_form.as_p }}
              <button type="submit" class="btn btn-primary">Изменить Пароль</button>
            </form>
          </div>
        </div>

        <!-- User's Orders -->
        <div class="card mb-4">
          <div class="card-header">
            Ваши Заказы
          </div>
          <div class="card-body">
            <ul class="list-group">
              {% for order in orders %}
                <li class="list-group-item">Книга: {{ order.book }} - Стоимость: ${{ order.price }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <!-- User's Reviews -->
        <div class="card">
          <div class="card-header">
            Ваши отзывы
          </div>
          <div class="card-body">
            <ul class="list-group">
              {% for review in reviews %}
                <li class="list-group-item">
                  <span class="font-weight-bold">{{ review.created_at|date:"F d, Y" }}</span><br>
                  {{ review.text }}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
